<app-listado-generico [listado]="peliculas">
  <ng-container vacio>
    <div>mensaje personalizado para contenido <b>vacio</b></div>
  </ng-container>

  <ng-container contenido>
    <div
      *ngFor="let pelicula of peliculas; let indice = index"
      class="pelicula-container"
    >
      <div>
        Pelicula {{ indice }}: {{ pelicula.titulo }}
        <button style="margin-left: 1rem" (click)="remover(indice)">
          Remover
        </button>
      </div>
      <div>
        {{ pelicula.fechaLanzamiento | date : "dd-MMMM-yyyy" | uppercase }}
      </div>
      <div>{{ pelicula.precio | currency }}</div>
    </div>
  </ng-container>
</app-listado-generico>
